<h2>Team Information</h2>

  <h3>Name: <%= @team.name %></h3>
<ul>
  <li>Logo: <%= image_tag @team.logo %></li>
  <li>Project Description: <%= @team.description %></li>
  <li>Github Link: <%= link_to @team.code_link, @team.code_link %></li>


  <li>
    Members:
    <% if @team.members.any? %>
      <ul>
        <% @team.members.each do |member| %>
          <li><%= link_to member.name, member_path(member.id) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>There are not any members in this team yet.</p>
    <% end %>
    <%= link_to "(Add members?)", members_path  %>
  </li>

  <li><%= link_to 'Check Final Score', score_path(@team.score.id) %></li>
</ul>





<hr />
<%= link_to 'Edit This Team', edit_team_path(@team.id) %>
<br />
<%= link_to 'Delete This Team', team_path(@team.id), method: :delete, data: {confirm: "Are you sure?"}  %>
