<h2>Score Information</h2>


<h3>Team Name: <%= link_to @score.team.name, team_path(@score.team.id)  %></h3>

<h4>Total Score: <%= @score.concept + @score.style + @score.git + @score.user_friendly %></h4>

<ul>
  <li>Concept: <%= @score.concept  %></li>
  <li>Style: <%= @score.style %></li>
  <li>Git: <%= @score.git %></li>
  <li>User Friendly: <%= @score.user_friendly%></li>
</ul>

<hr />
<%= link_to 'Edit Scores', edit_score_path(@score.id) %>
<hr />
<%= link_to 'Check List of Scores', scores_path %>
