<h2>Score Information</h2>

<h4>Total: <%= @score.concept + @score.style + @score.git + @score.user_friendly %></h4>

<ul>
  <li>Concept: <%= @score.concept  %></li>
  <li>Style: <%= @score.style %></li>
  <li>Git: <%= @score.git %></li>
  <li>User Friendly: <%= @score.user_friendly%></li>
</ul>
