<!DOCTYPE html>
<html>
  <head>
    <title>TMC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <hr />
  <%= link_to "Back to Homepage", teams_path %>
  <footer>
    <hr />
    <p>&#10084; By Jiamei Wu</p>
  </footer>

  </body>
</html>
